/* global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-boxw;
}

:root {
  --cor-colour01: #87ceeb;
  --cor-colour02: #8b4513;
  --cor-colour03: #98fb98;
  --cor-colour04: #ffb6c1;
  --cor-colour05: #4a507d;
  --cor-colour06: #e1e4fd;

  --robotoSlab: "Roboto Slab";
  --roboto: "Roboto";
  --pacifico: "Pacifico";
}
a {
  text-decoration: none;
  color: #efefef;
}

li {
  list-style: none;
}

/* body */
body {
  min-height: 100vh;
  max-width: 100vw;
  background: #dfdfdf;
  position: relative;
}

/* inner informations */
.inner_informations {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #000;
}

.inner_informations .contact {
  display: flex;
  gap: 1rem;
}

.inner_informations .contact p {
  border: 1px solid var(--cor-colour05);
  padding: 0.5rem 1rem;
  background: #444;
  border-radius: 1rem;
  color: #efefef;
}

/* header */

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 3rem;
  background-color: var(--cor-colour04);
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#header h1 {
  font-family: var(--pacifico);
  color: var(--cor-colour01);
  text-shadow: 2px 0px 1px #000;
  font-weight: bold;
  font-size: 3rem;
}

#header .navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#header .navbar li a {
  color: #8b4513;
  font-family: var(--roboto);
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: underline;
}

#header .navbar li {
  transition: 0.3s;
}

#header .navbar li:hover {
  transform: scale(1.1);
}
#header .navbar li:active {
  transform: scale(0.95);
}

/* active link */
.activeLink {
  background: var(--cor-colour02);
  color: #fff !important;
  padding: 0.8rem 1.1rem;
  border-radius: 1rem;
  text-decoration: none !important;
}

/* important */
.important {
  margin: 0 auto;
  text-align: center;
  font-family: var(--robotoSlab);
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 43.75rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

/* carousel_container */
.carousel-inner {
  height: 700px;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

/* main */

main {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 1rem;
}

#main_header {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #4a507d;
  font-family: var(--robotoSlab);
  width: 100%;
}

#main_header h2 {
  color: var(--cor-colour01);
  text-shadow: 3px 1 0px #efefef;
}

#main_header p {
  font-size: 1.2rem;
  text-indent: 1rem;
  color: #efefef;
  line-height: 1.1rem;
}

#products_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#products_container .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#products_container .product .title {
  background: #000;
  max-width: 15rem;
  color: #fff;
  font-size: 1.1rem;
  font-family: var(--robotoSlab);
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 20px 20px 50px -10px #ffb6c1;
}

/* images */
.img_container {
  overflow: hidden;
  max-width: 300px;
  max-height: 200px;
}

.img_container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* footer */

#footer {
  background: var(--cor-colour04);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer #last_thoughts {
  background: red;
  color: #efefef;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

#footer #history {
  text-align: center;
  max-width: 700px;
  border: 3px solid var(--cor-colour06);
  padding: .5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#footer #history h2 {
    font-family: var(--pacifico);
}

#footer #history p {
  text-align: justify;
  text-indent: 1rem;
  line-height: 1.3rem;
  color: var(--cor-colour05);
  font-size: 1.1rem;
  font-weight: bold;
  font-family: var(--robotoSlab);
}

/* copyright */
#copyright {
  background-color: #000;
  color: #efefef;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem;
}
